.jumbotron {
    width: 100%;
    height: auto;
    background-image: url(../Asset/bg.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
    opacity: 0.8;
}

/* All Sub File Related css*/


.cont {

    background-image: url(../Asset/molecules.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}



.caption {
    margin: 16px;
}

.Header {
    color: rgb(61, 87, 206);
    border-color: lightgrey;
    border-style: dotted;
    border-width: 1.5px;
    border-radius: 16px;
    width: 60%;
    height: auto;
    text-align: center;
}

#S {
    color: lightseagreen;
    font-weight: 600;
}


.Chat {
    position: absolute;
    margin-left: 75%;
    top: 130px;
    border: none;
    overflow: hidden;
    opacity: 0.6;

}


.small {
    max-width: 400px;
}